.baner {
    margin-top: 0%;
}

.stripe {
    height: 8%;
    margin: 0%;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins';
}


.hledat{
position: absolute;
top: 3%;
left: 83%;
}




.prvnibota{
    margin-left: 7%;
    margin-top: 100%;
    

}

.druhabota{
    margin-left: 7%;
   
}


.tretibota{
    margin-right: 4%;
    
}


*{

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    
    font-family: cursive;
    
    }
    
    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }






    .navbar {

        display: flex;
        
        align-items: center;
        
        justify-content: space-between;
        
        padding: 20px;
        
        background-color: rgb(0, 0, 0);
        
        color: #fff;
        
        }
        
        .nav-links a {
        
        color: #fff;
        
        }
        
        
        
        .logo {
        
        font-size: 32px;
        
        }
        
        
        
        .menu {
        
        display: flex;
        
        gap: 1em;
        
        font-size: 18px;
        
        }
        .menu li:hover {

        background-color: #cc2222;

        border-radius: 5px;

        transition: 0.3s ease;

        }
        .menu li {

            padding: 5px 14px;
    
            }
    
    
    
            .services {
    
            position: relative; 
            margin-top: -11px;
    
            }
            .dropdown {

                background-color: #cc2222;
        
                padding: 1em 0;
        
                position: absolute; 
        
                display: none;
        
                border-radius: 8px;
        
                top: 35px;
        
                }
                .dropdown li + li {

                    margin-top: 10px;
            
                    }
            
                    .dropdown li {
            
                    padding: 0.5em 1em;
            
                    width: 8em;
            
                    text-align: center;
            
                    }
                    .dropdown li:hover {
            
                        background-color: #cc2222;
                
                        }
                
                        .services:hover .dropdown {
                
                        display: block;
                       }
            

            
                    
