.baner {
    margin-top: 0%;
}

.stripe {
    height: 8%;
    margin: 0%;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins';
}


.hledat{
position: absolute;
top: 3%;
left: 83%;
}




.prvnibota{
    margin-left: 7%;
    margin-top: 100%;
    

}

.druhabota{
    margin-left: 7%;
   
}


.tretibota{
    margin-right: 4%;
    
}


*{

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    
    font-family: cursive;
    
    }
    
    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }






    .navbar {

        display: flex;
        
        align-items: center;
        
        justify-content: space-between;
        
        padding: 20px;
        
        background-color: rgb(0, 0, 0);
        
        color: #fff;
        
        }
        
        .nav-links a {
        
        color: #fff;
        
        }
        
        
        
        .logo {
        
        font-size: 32px;
        
        }
        
        
        
        .menu {
        
        display: flex;
        
        gap: 1em;
        
        font-size: 18px;
        
        }
        
