.baner {
    margin-top: 0%;
}

.stripe {
    height: 8%;
    margin: 0%;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins';
}


.hledat{
position: absolute;
top: 3%;
left: 83%;
}




.prvnibota{
    margin-left: 7%;
    margin-top: 100%;
    

}

.druhabota{
    margin-left: 7%;
   
}


.tretibota{
    margin-right: 4%;
    
}


